# Node & vendor cache
node_modules/
vendor/

# OS files
.DS_Store
Thumbs.db

# PHPStorm/IDE
.idea/
.vscode/

# Logs
*.log
logs/
debug.log

# Env files
.env

# Uploaded files
uploads/documents/*
!uploads/documents/.gitkeep

# Exclude nested cloned repo
tol/

# Local config with secrets
conf.php
